body {
    background-image: url('../img/kinemaja.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.signup-box {
    width: 350px;
    height: 660px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    margin: 150px auto;
    border-radius: 30px;
}

h1 {
    text-align: center;
    padding-top: 15px;
}

form {
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border-color: #ebf0fc;
    border-radius: 6px;
    outline: none;
    background-color: rgb(235, 240, 252);

}

#button {
    margin-top: 10px;
}

#parag1 {
    padding-top: 10px;
    text-align: center;
    border-radius: 30px;
}