* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: gray;
}

.navbar{
    margin-left:30px;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 800;
    color: red;
}
